<?xml version="1.0"?>
<config>
    <sections>
        <opsway_varnishgento translate="label" module="opsway_varnishgento">
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <label>Varnish Cache</label>
            <tab>advanced</tab>
            <groups>
                <general translate="label" module="opsway_varnishgento">
                <show_in_default>1</show_in_default>
                <show_in_website>0</show_in_website>
                <show_in_store>0</show_in_store>
                <label>General</label>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <servers translate="label">
                            <label>Servers</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Format: "host1:port1[:secret1];host2:port2[:secret2];..."</comment>
                        </servers>
                        <version>
                            <label>Varnish version</label>
                            <source_model>opsway_varnishgento/source_varnishversion</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </version>
                        <asynchronous_flush translate="label">
                            <label>Asynchronous Cache Flush</label>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </asynchronous_flush>
                        <flush_after_import translate="label">
                            <label>Cache Flush affected products after import</label>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Only for standart magento import</comment>
                        </flush_after_import>
                        <show_nodes translate="label">
                            <label>Enable Show Nodes On The Current Page</label>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </show_nodes>
                        <nodes_ip translate="label">
                            <label>Nodes private IP</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Format: "N1:ip1;N2:ip;..."</comment>
                        </nodes_ip>
                        <flushall translate="label">
                            <label>Flush cache after reindex</label>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </flushall>
                        <debug translate="label">
                            <label>Debug</label>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug>
                    </fields>
                </general>
                <memcached translate="label" module="opsway_varnishgento">
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <label>Memcached</label>
                    <sort_order>20</sort_order>
                    <fields>
                        <auto translate="label">
                            <label>Flush with varnish</label>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </auto>
                        <servers translate="label">
                            <label>Servers</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Format: "host1:port1[:secret1];host2:port2[:secret2];..."</comment>
                        </servers>
                    </fields>
                </memcached>
            </groups>
        </opsway_varnishgento>
    </sections>
</config>
