<?xml version="1.0"?>
<config>
    <modules>
        <Opsway_Varnishgento>
            <version>1.0.0</version>
        </Opsway_Varnishgento>
    </modules>
    <global>
        <helpers>
            <opsway_varnishgento>
                <class>Opsway_Varnishgento_Helper</class>
            </opsway_varnishgento>
        </helpers>
        <blocks>
            <opsway_varnishgento>
                <class>Opsway_Varnishgento_Block</class>
            </opsway_varnishgento>
            <page>
                <rewrite>
                    <html>Opsway_Varnishgento_Block_Html</html>
                </rewrite>
            </page>
            <adminhtml>
                <rewrite>
                    <cache>Opsway_Varnishgento_Block_Adminhtml_Cache</cache>
                 </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <opsway_varnishgento>
                <class>Opsway_Varnishgento_Model</class>
                <resourceModel>opsway_varnishgento_mysql4</resourceModel>
            </opsway_varnishgento>
            <index>
                <rewrite>
                    <process>Opsway_Varnishgento_Model_Index_Process</process>
                </rewrite>
            </index>
            <opsway_varnishgento_mysql4>
                <class>Opsway_Varnishgento_Model_Mysql4</class>
                <entities>
                    <flag>
                        <table>varnishgento_flags</table>
                    </flag>
                </entities>
            </opsway_varnishgento_mysql4>
        </models>
        <resources>
            <opsway_varnishgento_setup>
                <setup>
                    <module>Opsway_Varnishgento</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </opsway_varnishgento_setup>
            <opsway_varnishgento_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </opsway_varnishgento_write>
            <opsway_varnishgento_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </opsway_varnishgento_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <opsway_varnishgento>
                    <file>opsway_varnishgento.xml</file>
                </opsway_varnishgento>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Opsway_Varnishgento before="Mage_Adminhtml">Opsway_Varnishgento_Adminhtml</Opsway_Varnishgento>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <model_load_after>
                <observers>
                    <add_cache_tags>
                        <class>opsway_varnishgento/observer</class>
                        <method>addModelCacheTagsOnLoad</method>
                    </add_cache_tags>
                </observers>
            </model_load_after>
            <catalog_product_collection_load_after>
                <observers>
                    <add_cache_tags>
                        <class>opsway_varnishgento/observer</class>
                        <method>addCollectionCacheTagsOnLoad</method>
                    </add_cache_tags>
                </observers>
            </catalog_product_collection_load_after>
            <catalog_controller_product_view>
                <observers>
                    <disable_for_product_with_special_price>
                        <class>opsway_varnishgento/observer</class>
                        <method>disableCacheForProductWithSpecialPrice</method>
                    </disable_for_product_with_special_price>
                </observers>
            </catalog_controller_product_view>
            <controller_front_send_response_before>
                <observers>
                    <set_cache_header>
                        <class>opsway_varnishgento/observer</class>
                        <method>setCacheHeader</method>
                    </set_cache_header>
                </observers>
            </controller_front_send_response_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <check_block_exception>
                        <class>opsway_varnishgento/observer</class>
                        <method>checkBlockExceptionBeforeRender</method>
                    </check_block_exception>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <check_block_exception>
                        <class>opsway_varnishgento/observer</class>
                        <method>checkBlockExceptionAfterRender</method>
                    </check_block_exception>
                </observers>
            </core_block_abstract_to_html_after>
            <checkout_submit_all_after>
                <observers>
                    <process_out_of_stock_products>
                        <class>opsway_varnishgento/observer</class>
                        <method>processOutOfStockProducts</method>
                    </process_out_of_stock_products>
                </observers>
            </checkout_submit_all_after>
        </events>
        <opsway_varnishgento>
            <block_exceptions>
                <!--top_menu>top.menu</top_menu-->
            </block_exceptions>
        </opsway_varnishgento>
        <cache>
            <varnishgento>
                <!--                 <catalog><category><view>1h</view></category></catalog> -->
                <!--                 <catalog><product><view>1h</view></product></catalog> -->
            </varnishgento>
        </cache>
    </frontend>
    <global>
        <events>
            <application_clean_cache>
                <observers>
                    <clean_cache_tags>
                        <class>opsway_varnishgento/observer</class>
                        <method>cleanCacheByTags</method>
                    </clean_cache_tags>
                </observers>
            </application_clean_cache>
            <application_add_cache_tags>
                <observers>
                    <add_cache_tags>
                        <class>opsway_varnishgento/observer</class>
                        <method>addCacheTags</method>
                    </add_cache_tags>
                </observers>
            </application_add_cache_tags>
            <controller_front_send_response_after>
                <observers>
                    <clean_cache>
                        <class>opsway_varnishgento/observer</class>
                        <method>cleanCache</method>
                    </clean_cache>
                </observers>
            </controller_front_send_response_after>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <clean_stock_cache>
                        <class>opsway_varnishgento/observer</class>
                        <method>cleanStockCacheByTags</method>
                    </clean_stock_cache>
                </observers>
            </cataloginventory_stock_item_save_after>
            <catalog_product_attribute_update_before>
                <observers>
                    <clean_product_cache>
                        <class>opsway_varnishgento/observer</class>
                        <method>cleanCacheByProductIds</method>
                    </clean_product_cache>
                </observers>
            </catalog_product_attribute_update_before>
            <catalog_product_import_finish_before>
              <observers>
                  <clean_cache_after_import>
                      <class>opsway_varnishgento/observer</class>
                      <method>cleanCacheByTagsAfterImport</method>
                  </clean_cache_after_import>
              </observers>
            </catalog_product_import_finish_before>
        </events>
        <opsway_varnishgento>
            <cache_tag_shortcuts>
                <catalog_category>
                    <source>CATALOG_CATEGORY</source>
                    <target>CT</target>
                </catalog_category>
                <catalog_product>
                    <source>CATALOG_PRODUCT</source>
                    <target>PR</target>
                </catalog_product>
                <cms_block>
                    <source>CMS_BLOCK</source>
                    <target>BL</target>
                </cms_block>
                <cms_page>
                    <source>CMS_PAGE</source>
                    <target>PG</target>
                </cms_page>
                <eav_attribute>
                    <source>EAV_ATTRIBUTE</source>
                    <target>EA</target>
                </eav_attribute>
            </cache_tag_shortcuts>
        </opsway_varnishgento>
    </global>
    <default>
        <opsway_varnishgento>
            <general>
                <active>0</active>
                <servers />
                <asynchronous_flush>1</asynchronous_flush>
                <flush_after_import>1</flush_after_import>
                <debug>0</debug>
                <flushall>1</flushall>
            </general>
            <varnishpurger_config>
                <!-- This should be a little bit bigger then cron scheduled period -->
                <update_period_seconds>70</update_period_seconds>
            </varnishpurger_config>
        </opsway_varnishgento>
    </default>
</config>